<button (click)="handleSwitch('ON', 2)" type="button" class="btn btn-lg btn-primary">Cuarto 1 ON</button>
<button (click)="handleSwitch('OFF', 2)" type="button" class="btn btn-lg btn-primary">Cuarto 1 OFF</button>
<br>
<br>
<button (click)="handleSwitch('ON', 13)" type="button" class="btn btn-lg btn-success">Cuarto 2 ON</button>
<button (click)="handleSwitch('OFF', 13)" type="button" class="btn btn-lg btn-success">Cuarto 2 OFF</button>
<br>
<br>
<button (click)="handleSwitch('ON', 0)" type="button" class="btn btn-lg btn-danger">Sala ON</button>
<button (click)="handleSwitch('OFF', 0)" type="button" class="btn btn-lg btn-danger">Sala OFF</button>
<br>
<br>
<button (click)="switchAll('ON')" type="button" class="btn btn-lg btn-dark">Todas ON</button>
<button (click)="switchAll('OFF')" type="button" class="btn btn-lg btn-dark">Todas OFF</button>